table{
    margin: 50px;
}
#studentData{
    border: 40px rgb(111, 103, 103) ;
    border-style: inset;    
}
#studentData th,#studentData td{
    padding: 20px;
    border: 1px solid black;
    /* background-color: yellow; */
}
